{% load static %}
{% load helpers %}
<header class="header">
    <div class="box">
        <div class="logo-container">
            <a class="logo" href="#"><img src="{% static 'html/img/logo1.svg' %}" alt="" /></a>
            <a class="logo" href="#"><img src="{% static 'html/img/logo2.svg' %}" alt="" /></a>
        </div>
        <ul>
            <li class="{% if request.resolver_match.url_name == "home" %}active{% endif %}"><a
                    href="{% url 'web:home' %}">Đặt vé</a></li>
            <li class="{% if request.resolver_match.url_name == "livestream" %}active{% endif %}"><a
                    href="{% url 'web:livestream' %}">Xem livestream</a></li>
            <li>
                {% if request.userClient %}
                <a href="{% url 'web:logout' %}?next={{ request.get_full_path | urlencode }}">{{request.userClient.fields.name}}
                    / Đăng xuất</a>
                {% else %}
                <a href="{% url 'web:login' %}">Đăng nhập</a> </li>
            {% endif %}
        </ul>
        <div class="hamburger">
            <img src="{% static 'html/img/hamburger.svg' %}" alt="" />
        </div>
    </div>
</header>