{% extends "web/partials/layout.html" %} {% load static %} {% load helpers %}
{%block content %}
<main class="page-home">
    <section class="banner">
        <img src="{% static 'html/img/banner.jpg' %}" alt="" class="pc" />
        <img src="{% static 'html/img/banner.jpg' %}" alt="" class="mb" />
    </section>
    <section class="trailer">
        <div class="left">
            <h1 class="title">Vietnam Young Lions</h1>
            <p class="description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Ultricies enim et, lorem eget elementum ultrices. Ornare neque
                massa, id elit, venenatis nec interdum. Neque ipsum amet leo mi
                nullam vulputate. Pretium arcu feugiat magna Lorem ipsum dolor
                sit amet, consectetur adipiscing elit. Ultricies enim et, lorem
                eget elementum ultrices. Ornare neque massa, id elit, venenatis
                nec interdum. Neque ipsum amet leo mi nullam vulputate. Pretium
                arcu feugiat magna eget elementum ultrices. Ornare neque massa,
                id elit, venenatis nec interdum. Neque ipsum amet leo
            </p>
            <a class="more" href="">Xem thêm</a>
        </div>
        <div class="right">
            <iframe width="200" height="200" src="https://www.youtube.com/embed/IsNYctPeZNg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </section>
    <section class="booking">
        <h1 class="title">Đặt vé</h1>
        <div class="content">
            <div class="left">
                {% for type in types %}
                <div class="box active">
                    <div class="head">{{type|title}}</div>
                    <div class="items">
                        {% for ticket in tickets %} {% if ticket.type == type %}
                        <div class="item">
                            <div class="image">
                                <img src="
                                {% if ticket.image %}
                                {% static 'uploads/images/' %}{{ticket.image}}
                                {% else %}
                                {% static 'html/' %}img/item.jpg
                                {% endif %}" alt="" />
                                <div class="label online">{{type|title}}</div>
                            </div>
                            <div class="text">
                                <div class="left">
                                    <h2 class="name">{{ticket.name}}</h2>
                                    <div class="info">
                                        <div class="info-item">
                                            <div class="image">
                                                <img src="{% static 'html/' %}img/lich.svg" alt="" />
                                            </div>
                                            <div class="text">
                                                {% formatDatetime ticket.date "%Y-%m-%d" "%d.%m.%Y" %}
                                            </div>
                                        </div>
                                        <div class="info-item">
                                            <div class="image">
                                                <img src="{% static 'html/' %}img/clock.svg" alt="" />
                                            </div>
                                            <div class="text">
                                                {% formatDatetime ticket.time_from "%H:%M:%S" "%H:%M" %}
                                                -
                                                {% formatDatetime ticket.to "%H:%M:%S" "%H:%M" %}
                                            </div>
                                        </div>
                                        <div class="info-item">
                                            <div class="image">
                                                <img src="{% static 'html/' %}img/user.svg" alt="" />
                                            </div>
                                            <div class="text">
                                                {{ ticket.soldticket_set.count}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="web">
                                        <div class="image">
                                            <img src="{% static 'html/' %}img/map.svg" alt="" />
                                        </div>
                                        <div class="text">
                                            {{ticket.address}}
                                        </div>
                                    </div>
                                    <div class="status">
                                        Còn&nbsp;<span>{{ticket.quantity|subtract:ticket.soldticket_set.count}}/{{ticket.quantity}} vé</span>
                                    </div>
                                </div>
                                <div class="right">
                                    <div class="quantity">
                                        <button class="js-minusQuantity" data-id="{{ticket.id}}">-</button>
                                        <input type="text" value="0" class="js-quantity" data-id="{{ticket.id}}" />
                                        <button class="js-plusQuantity" data-id="{{ticket.id}}">+</button>
                                    </div>
                                    <div class="status-mb">
                                        Còn&nbsp;<span>{{
                                            ticket.quantity|subtract:ticket.soldticket_set.count
                                            }}/{{ticket.quantity}} vé</span>
                                    </div>
                                    <div class="price">{{ticket.price|formatThousandsNumber:"."}}
                                        VNĐ</div>
                                </div>
                            </div>
                        </div>
                        {% endif %} {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="right">
                <div class="info">
                    <div class="head">
                        <h2 class="title">Thông tin mua hàng</h2>
                        <div class="edit">
                            <img src="{% static 'html/' %}img/sua.svg" alt="" />
                        </div>
                    </div>
                    <form class="content">
                        <div class="input">
                            <input type="text" placeholder="Tên" name="name" />
                        </div>
                        <div class="input">
                            <input type="text" placeholder="Số điện thoại" name="phone" />
                        </div>
                        <div class="input">
                            <input type="text" placeholder="Email" name="email" />
                        </div>
                    </form>
                </div>
                <div class="total">
                    <h2 class="title">Tổng cộng</h2>
                    <div class="row">
                        <div class="col">Tổng đơn hàng</div>
                        <div class="col"><span class="js-totalQuantity">0</span> sản
                            phẩm</div>
                    </div>
                    <div class="row">
                        <div class="col">Tổng cộng</div>
                        <div class="col"><span class="js-total">0</span> đ</div>
                    </div>
                    <div class="button">
                        <button class="js-checkout">Thanh toán</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="check-booking">
        <div class="box">
            <div class="left">
                <h1 class="title">Kiểm tra đặt vé</h1>
                <p class="description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Ultricies enim et, lorem eget elementum ultrices. Ornare
                    neque massa, id elit, venenatis nec interdum. Neque ipsum
                    amet leo mi nullam vulputate. Pretium arcu feugiat magna
                </p>
            </div>
            <form class="right">
                <input type="text" />
                <p class="description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Ultricies enim et, lorem eget elementum ultrices.
                </p>
                <button class="button">Gửi lại mail</button>
            </form>
        </div>
    </section>
</main>
<div class="component-popup-payment js-popupPayment">
    <div class="box">
        <h1 class="title">Xác thực thanh toán bằng ngân hàng</h1>
        <h2 class="head">Đơn hàng</h2>
        <div class="order">
            <div class="left">
                <div class="row js-popupName"></div>
                <div class="row js-popupPhone"></div>
                <div class="row js-popupEmail"></div>
            </div>
            <div class="right">
                <table class="js-popupTable">
                 
                </table>
            </div>
        </div>
        <div class="bank">
            <div class="rows">
                <div class="row">
                    <div class="col">Tên tài khoản</div>
                    <div class="col"> Công ty Cổ phần Đào tạo AIM Academy </div>
                </div>
                <div class="row">
                    <div class="col">Số tài khoản</div>
                    <div class="col">123456789</div>
                </div>
                <div class="row">
                    <div class="col">Ngân hàng</div>
                    <div class="col">Ngân hàng ACB</div>
                </div>
                <div class="row">
                    <div class="col">Chi nhánh</div>
                    <div class="col">PGD - Chi nhánh Tân Định</div>
                </div>
                <div class="row">
                    <div class="col">Số tiền</div>
                    <div class="col"><span class="js-popupTotal"></span> VNĐ</div>
                </div>
                <div class="row">
                    <div class="col">Nội dung chuyển khoản</div>
                    <div class="col js-popupOrderCode"></div>
                </div>
            </div>
            <div class="description">
                Lưu ý khi chuyển khoản, consectetur adipiscing elit. Ultricies
                enim et, lorem eget elementum ultrices. Ornare neque massa, id
                elit, venenatis nec interdum. Neque ipsum amet leo mi nullam
            </div>
            <div class="button">
                <a class="js-popupCancel">Huỷ</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{%block foot %}
<input type="hidden" id="js-data" data-urlrequestcart="{% url "web:getCart" %}" data-urlcheckout="{% url "web:checkout" %}" data-urlcheckorderstatus="{% url "web:checkOrderStatus" %}" data-urlcheckorderstatussuccess="{% url "web:thankYou" %}">
<script src="{% static 'html/js/home.js' %}"></script>
{% endblock %}