{% extends "cms/partials/layout.html" %} {% block content %}
<h1>Ticket</h1>
<div class="card">
    <div class="card-header">
        <h4 class="card-title">Index</h4>
    </div>
    <div class="card-header"><a href="{% url "cms:ticket.create" %}">Create</a></div>
    <div class="card-body">
        <table class="table table-striped" id="table1">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>City</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Graiden</td>
                    <td>vehicula.aliquet@semconsequat.co.uk</td>
                    <td>076 4820 8838</td>
                    <td>Offenburg</td>
                    <td>
                        <span class="badge bg-success">Active</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
